{% extends 'base.html.twig' %}

{% block body %}
	<section class="bg-white dark:bg-gray-900">
		<div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6 flex-grow min-h-screen flex flex-col">
			<div class="mx-auto max-w-screen-md text-center mb-8 lg:mb-12">
				<h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Gestions</h2>
			</div>
			<div
				class="space-y-8 lg:grid lg:grid-cols-3 sm:gap-6 xl:gap-10 lg:space-y-0">
				<!-- Pricing Card -->
				<div class="flex flex-col justify-center items-center p-4 mx-auto max-w-xl w-full text-center text-gray-900 bg-white rounded-lg border border-gray-100 shadow dark:border-gray-600 dark:bg-gray-800 dark:text-white" style="height: 500px;">
					<h3 class="text-5xl font-semibold">
						<a href="{{ path('ajout_produit') }}" class="text-primary-600 hover:underline dark:text-primary-400">
							Ajouter un produit
						</a>
					</h3>
				</div>

				<div class="flex flex-col justify-center items-center p-4 mx-auto max-w-xl w-full text-center text-gray-900 bg-white rounded-lg border border-gray-100 shadow dark:border-gray-600 dark:bg-gray-800 dark:text-white" style="height: 500px;">
					<h3 class="text-5xl font-semibold">
						<a href="{{ path('allUpdate_produit') }}" class="text-primary-600 hover:underline dark:text-primary-400">
							Modifier un produit
						</a>
					</h3>
				</div>
				<div class="flex flex-col justify-center items-center p-4 mx-auto max-w-xl w-full text-center text-gray-900 bg-white rounded-lg border border-gray-100 shadow dark:border-gray-600 dark:bg-gray-800 dark:text-white" style="height: 500px;">
					<h3 class="text-5xl font-semibold">
						<a href="{{ path('allDelete_produit') }}" class="text-primary-600 hover:underline dark:text-primary-400">
							Supprimer un produit
						</a>
					</h3>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
